services:
  proxy:
    build: .
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/auth-proxy
      - ENABLE_API_KEY_AUTH=true
    volumes:
      - .:/opt/app-root/src
    ports:
      - 8080:8080

  mongodb:
    image: mongo:latest
    restart: always
    volumes:
      - mongodb_data:/data/db
    ports:
      - 37017:27017     # port forwarding to avoid conflicts with existing mongodb installation

volumes:
  mongodb_data:
    driver: local
